{% extends "base.html" %}
{% block content %}
{% if form.instance.id %}
    <h3> Edit Product Type {{ pt.name }}</h3>
{% else %}
    <h3> Register a new Product Type </h3>
{% endif %}
    <form class="form-horizontal" method="post">{% csrf_token %}
        {% include "dojo/form_fields.html" with form=form %}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input class="btn btn-primary" type="submit" value="Submit"/>
            </div>
        </div>
    </form>
{% endblock %}
